

.app {
  /* height: 100vh; */
  height: 100vh;
  /* Set a fixed height for the container */
  overflow: auto;
  
}


.backgroundImage{
  width: 100%;
  height: auto;
  /* display: block; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content{
  position: absolute;
  top: 20%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
}